<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/static/styles/output.css" rel="stylesheet">
</head>

<body>

<main class="container mx-auto mt-24 px-5 flex">
<div class="flex flex-col m-auto">
    <div class="space-y-8">
        <h1 class="text-2xl font-semibold flex gap-4 items-center">
            <span>👋 {{ currentUser.name }}</span>
            <img src="/static/images/{{ toLowerCase currentUser.name }}.png" width="48px" class = "rounded-full" />
        </h1>

        {{#if showGdprBanner }}
        <div class="border border-yellow-100 rounded p-4 flex gap-4 items-center justify-center bg-yellow-50">
            <p class="text-sm">
                This website uses cookies to ensure you get the best experience our lawyers insist you have.
            </p>

            <button class="bg-blue-500 hover:bg-blue-600 text-white p-2 rounded">
                Accept
            </button>
        </div>
        {{/if}}

        <p>Website content goes here.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mattis odio dolor, et luctus orci luctus non. Pellentesque commodo tortor ut nunc tincidunt faucibus vel at massa. Aliquam dignissim eget orci sed scelerisque. Aliquam in nisi sapien. Nullam vehicula, tellus quis finibus semper, augue dui rutrum urna, volutpat commodo ex diam at magna. Aliquam posuere tortor ac ante faucibus dapibus. In venenatis odio sem, eu dignissim augue consectetur nec. Proin lobortis semper orci, non consectetur dolor. Maecenas varius luctus magna, et feugiat tortor posuere et. Morbi fermentum, risus at porta fermentum, turpis purus consectetur justo, in maximus odio neque ac nunc. Nunc pellentesque pretium ultrices. Vestibulum pretium scelerisque risus et porttitor.</p>
    </div>

    <div class="mt-24 space-y-4 border border-blue-100 rounded p-8 bg-blue-50">
        <p>Your server would provide context to Prefab based on your current user and request. For this demo, we fake the current user.</p>

        <div class="flex flex-col lg:flex-row gap-8">
            {{#each allUsers}}

            <form action="/login" method="POST" class="space-y-4 grow">
                <input type="hidden" name="username" value="{{this.name }}" />
                <input type="hidden" name="password" value="can't be blank" />

                <textarea class="w-full h-48 font-mono" name="user">{{ toJson this }}</textarea>

                <div class="flex gap-2 justify-center items-center w-full">
                     <img src="/static/images/{{ this.name.toLowerCase }}.png" width="48px" class = "rounded-full" />
                    <input class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white p-2 rounded" type="submit" value="Sign in as {{ this.name }}" />
                </div>
            </form>
            {{/each}}
        </div>
    </div>

    <div id="prefab-values" class="mt-24 space-y-4">
        <p>Here's the resolved Prefab config for your application:</p>

        <table class="border-separate w-full">
            <thead class="bg-gray-50 text-left">
            <th class="px-4">Key</th>
            <th class="px-4">Default<span class="hidden md:inline"> Value</span></th>
            <th class="px-4">
                Evaluated
                <span class="hidden md:inline">Value<abbr class="bg-blue-100 rounded-full p-1 no-underline cursor-help" title="The value as evaluated in the current context">?</abbr>
                </span>
            </th>
            <th class="px-4">Type</th>
            </thead>

            <tbody>
            {{# each allConfigs }}
                <tr class="odd:bg-blue-50">
                    <td class="p-4 break-all">{{ @key }}</td>
                    <td class="p-4">{{ prefabCoerceToString this }}</td>
                    <td class="p-4">{{ prefabEvaluateAndCoerceToString @key }}</td>
                    <td class="p-4">{{ this.typeCase }}</td>
                </tr>
            {{/each }}
            </tbody>
        </table>
    </div>


</div>
</main>
</body>
</html>